/* style.css */

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchTerm {
    padding: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

#findButton {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

#result {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#pdf-viewer {
    display: none;
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    padding: 10px;
}

#download-link {
    margin-top: 10px;
    text-align: center;
}

#download-link a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}
